.data-entry__heading {
    text-align: center;
}

.data-entry__form {
    margin: 20px auto;
    max-width: 450px;
}

.data-entry__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.data-entry__input {
    width: 300px;
}

.data-entry__form--hidden {
    display:none;
}