.data-entry__heading {
    text-align: center;
}

.data-entry__form {
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
}

.data-entry__form--hidden {
    display: none;
}

.data-entry__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.data-entry__input {
    width: 50%;
    font-size: 1rem;
    padding: 0 10px;
    font-family: 'Exo 2', sans-serif;
}

.data-entry__input--tall {
    height: 4rem;
}

.data-entry__input--small {
    width: 75px;
}

.data-entry__form--hidden {
    display:none;
}

.page-background--data-entry {
    background-size: auto;
}