/*  ==========
    UTILITIES
    ==========  */

/***** Border-box *****/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/*  ===============
    CSS VARIABLES
    ===============  */

/***** Colors *****/
/* Palette #21: https://www.canva.com/learn/website-color-schemes/ */

:root {
    --main-bg-color: #6B7A8F; /* Blueberry */
    --main-bg-color-dark10: #565F71;
    --main-bg-color-t70: rgba(107,122,143,0.7); /* 70% opacity */
    --main-bg-color-t90: rgba(107,122,143,0.9); /* 90% opacity */
    --sec-color: #BF5808; 
    --sec-color-dark10: #823D08; 
    --ter-color: #F7C331; /* Citrus */
    --ter-color-dark10: #DEAA18;
    --qrt-color: #DCC7AA; /* Apple Core */

    --primary-text-color: #FFFFFF; /* White */
    --mid-text-color: #686868; /* Grey */
    --dark-text-color: #555; /* Dark Grey */
}

/***** Fonts *****/
:root {
    --display-font: 'Audiowide', cursive;
    /* Also consider: 'Barrio', 'Permanent Marker' */
    --heading-font: 'BioRhyme';
    --body-font: 'Exo 2';
}

/*  ===============
    BODY DEFAULTS
    ===============  */

html {
    font-size: 2.5vmin;
    font-family: var(--body-font);
    color: var(--primary-text-color);
}

@media (max-width: 640px), (max-height: 640px) {
    html {
        font-size: 16px;
    }
}

/*  ============================
    BLOCKS__ELEMENTS--MODIFIERS
        - Classes are organized using the BEM model:
        http://getbem.com/
    ============================  */

/***** page-background *****/

.page-background {
    background-color: #6B7A8F; /* fallback */
    /* Created using https://trianglify.io/ */
    background-image: url('img/trianglify.svg');
    background-size: cover;
    margin: 0;
    height: 100vh;
}

/***** btn *****/

.btn {
    background-color: var(--sec-color);
    font-family: var(--body-font);
    color: var(--primary-text-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
    font-size: inherit;
    font-weight: bold;
    padding: 0.5em 0.75em;
    display: inline-block;
    cursor: pointer;
    transition: background-color 300ms, box-shadow 300ms;
}

.btn:hover,
.btn:focus {
    background-color: var(--sec-color-dark10);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
}

.btn--front {
    display: block;
    margin: 0 20px 0 auto;
    font-size: 5vmin;
    animation-name: pulse-small;
    animation-duration: 2s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;    
}

@keyframes pulse-small {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1.1, 1.1);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

@media (min-width: 600px) and (min-height: 600px) {
    .btn--front {
        font-size: 30px;
    }
} 

.btn--quoted:before {
    content: '\201c';
    vertical-align: top;
}

.btn--quoted:after {
    content: '\201d';
    vertical-align: top;
}

.btn--centered {
    display: block;
    margin: 0 auto;
}

.btn--hidden {
    display: none;
}

.btn--margins {
    margin: 15px auto;
}

.btn--clear {
    background: none;
    border: none;
    box-shadow: none;
    transition-property: color;
    transition-duration: 300ms;
}

.btn--clear:hover, .btn--clear:focus {
    background: none;
    color: #ccc;
    box-shadow: none;
}

.btn--biggertxt {
    font-size: 1.5rem;
}

.btn--underline {
    text-decoration: underline;
}

.btn--ter-color {
    background-color: var(--ter-color);
    color: var(--dark-text-color);
    transition: background-color 300ms, box-shadow 300ms;
}

.btn--ter-color:hover,
.btn--ter-color:focus {
    background-color: var(--ter-color-dark10);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
}

.btn--inline {
    padding: 5px;
    display: inline;
    margin: 3px 0;
}

.btn--ital {
    font-style: italic;
}

@media (max-height: 500px) {
    .btn--shrink {
        height: 20px;
        padding: 0 5px;
    }
}


.btn__inlnblck {
    display: inline-block;
}

/***** lbl *****/

.lbl {
    display: block;
    margin-bottom: 5px;
}

/***** inpt *****/

.inpt {
    border: none;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
    padding-left: 10px;
    font-size: inherit;
    padding: 0.5em 0.75em;
    color: var(--dark-text-color);
}

/***** front-header *****/

.front-header {
    height: 90vh;
    width: 100%;
}

.front-header--hidden {
    display: none;
}

.front-header__title-container {
    position: relative;
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
}

.front-header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
    text-align: center;
    font-family: var(--display-font);
    font-size: 10vmin;
}

@media (min-width: 600px) and (min-height: 600px) {
    .front-header__title {
        font-size: 72px;
    }
} 

.front-header__speech-bubble {
    width: 100%;
    max-height: 50vh;
    padding: 10px 10px 0 10px;
}

.front-header__btn-container {
    width: 100vmin;
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
}

.front-header__tagline {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 5vmin;
    margin: 20px;
}

/***** game-header *****/

.game-header {
    height: 10vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-header--hidden {
    display: none;
}

.game-header__title {
    margin: 0;
    text-align: center;
    font-family: var(--display-font);
    font-size: 5vmin;
}

.game-header__speech-bubble {
    height: 8vmin;
    min-height: 30px;
    vertical-align: middle;
}

 @media (max-width: 400px), (max-height: 400px) {
    .game-header__title {
        font-size: 20px;
    }
} 

/***** dropdown *****/
.dropdown {
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown__content {
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
    text-align: right;
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-color);
}

.dropdown__content--hidden {
    display: none;
}

.dropdown__item {
    list-style: none;
}

.dropdown__item--hidden {
    display: none;
}

.dropdown__item--notice {
    font-style: italic;
    border-bottom: solid var(--primary-text-color) 2px;
    color: var(--ter-color);
}

@media (min-width: 600px) {
    .dropdown__btn {
        display: none;
    }

    .dropdown__content {
        background: none;
        display: block;
        width: 300px;
    }
    
    .dropdown__item {
        display: inline-block;
    }

    .dropdown__item--notice {
        border: none;
        color: var(--mid-text-color);
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .dropdown__content {
        right: calc(50vw - 600px);
    }
}

/***** modal *****/

.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    animation-name: fadein;
    animation-duration: 400ms;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.modal-background--fadeout {
    animation-name: fadeout;
    animation-duration: 400ms;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

.modal-background--hidden {
    display: none;
}

/***** instructions *****/

.instructions {
    background-color: var(--main-bg-color-dark10);
    color: var(--primary-text-color);
    width: 85%;
    max-width: 600px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.instructions__heading {
    text-align: center;
    font-family: var(--heading-font);
    margin: 5px auto;
}

.instructions__subheading {
    margin: 5px auto;
}

.instructions__para {
    margin: 10px auto;
}

@media (max-width: 640px), (max-height: 640px) {
   .instructions__para {
       font-size: 14px;
   }
}

.instructions__para--mic-status {
    color: var(--sec-color);
}

/***** login *****/

.login {
    background-color: var(--main-bg-color-dark10);
    min-width: 300px;
    max-width: 400px;
    width: 90%;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4);
    padding: 10px;
    position: relative;
}

.login__heading {
    text-align: center;
    font-family: var(--heading-font);
    margin: 5px auto;
}

.login__inpt {
    margin: 10px auto;
    width: 90%;
    display: block;
}

.login__inpt--hidden {
    display: none;
}

.login__lbl--hidden {
    display: none;
}

.login__msg {
    margin: 10px auto;
    text-align: center;
    font-style: italic;
    color: var(--ter-color);
}

.login__msg--hidden {
    display: none;
}

.login__close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-height: 400px) {
    .login__inpt {
        margin: 5px auto;
        padding: .25em .75em;
    }
}


/***** main *****/

.main {
    height: 80vh;
}

.main--hidden {
    display: none;
}

/***** game-container *****/

.game-container {
    overflow: hidden;
}

.game-container--hidden {
    display: none;
}

@media (max-height: 500px) {
    .game-container {
        font-size: 14px;
    }
}

/***** game-info *****/

.game-info {
    display: flex;
    flex-flow: row nowrap;
    max-width: 600px;
    margin: 0 auto;
    font-family: var(--heading-font);
    padding: 0 20px;
}

.game-info__flex-item {
    flex: 1 1 calc(50%);
}

.game-info__heading {
    text-align: center;
    margin: 0 0 5px;
    font-size: 2.5vmin;
}

@media (max-width: 640px), (max-height: 640px) {
    .game-info__heading {
        font-size: 16px;
    }
}

/***** guess-form *****/

.guess-form {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    padding: 0 10px;
}

.guess-form--hidden {
    display: none;
}

.guess-form__lbl {
    margin-top: -10px;
}

.guess-form__flex-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.guess-form__flex-btn {
    flex: 1 0 auto;
}

.guess-form__flex-inpt {
    flex: 5 1 auto;
    width: 100px;
    margin-left: 15px;
    font-family: var(--body-font);
}

@media (max-height: 500px) {
    .guess-form {
        max-width: 400px;
    }
    .guess-form__lbl {
        margin-top: 0px;
    }

    .guess-form__flex-inpt {
        font-size: 14px;
        height: 20px;
    }
}

@media (min-height: 800px) {
    .guess-form__flex-btn {
        font-size: 20px;
    }
}

/***** mic *****/
.mic {
    font-size: 1.5rem;
    padding: 0 10px;
    margin: auto;
    width: 4rem;
    text-align: center;
}

.mic--on {
    color: var(--ter-color);
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.25, 1.25);
    }
    100% {
        transform: scale(1, 1);
    }
}

.mic--off {
    color: var(--mid-text-color);
}

@media (max-height: 500px) {
    .mic {
        font-size: 14px;
    }
}
/***** guesses *****/

.guesses {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    padding: 0 10px 10px;
    text-align: center;
}

/* .guesses__header {
    margin: 0 0 5px;
    font-size: 1rem;
    font-family: var(--heading-font);
} */

.guesses__flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 10px;
}

.guesses__icon {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin: 0 5px;
    line-height: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--display-font);
}

.guesses__icon--checked {
    background-color: var(--qrt-color);
}

.guesses__icon--x {
    background-color: var(--sec-color);
    animation-name: popout;
    animation-duration: 300ms;
}

@keyframes popout {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1,1)
    }
}

@media (max-height: 500px) {
    .guesses__icon {
        height: 1.5rem;
        width: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.75rem;
    }
}

/***** question *****/

.question {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
}

.question__text {
    margin: 0;
    font-size: 3vmin;
}

@media (max-width: 640px), (max-height: 640px) {
    .question__text {
        font-size: 16px;
    }
}

@media (max-height: 500px) {
    .question {
        padding-top: 0;
    }
}

/***** answers *****/

.answers {    
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    padding: 0;
    text-align: center;
}

.answers--slideright {
    animation-name: slideright;
    animation-duration: 600ms;
}

@keyframes slideright {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(2000px);
    }
}

.answers__wrapper {
    display: flex;
    margin: 3px 0;
    animation-duration: 300ms;
    animation-name: slideFromLeft;
    animation-timing-function: ease-out;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0px);
    }
}

.answers__wrapper--sum {
    justify-content: flex-end;
}

.answers__text {
    background: var(--qrt-color);
    padding: 5px;
    margin: 0 3px;
    width: 90%;
    border-radius: 5px;
    font-weight: bold;
    color: var(--dark-text-color);
}

.answers__text--guessed {
    text-align: left;
    color: var(--primary-text-color);
    background: var(--sec-color);
    animation-name: flip;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
}

@keyframes flip {
    from {
        transform: scaleY(-1);
    }
    to {
        transform: scaleY(1);
    }
}

.answers__text--revealed {
    text-align: left;
    font-style: italic;
    animation-name: flip;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
}

.answers__points {
    background: var(--ter-color);
    color: var(--dark-text-color);
    padding: 5px;
    margin: 0 3px;
    max-width: 100px;
    min-width: 30px;
    width: 10%;
    border-radius: 5px;
}

.answers__points--revealed {
    font-style: italic;
}

.answers__blank {
    margin: 0 3px;
    width: 90%;
}

.answers__sum {
    background: #565F71;
    padding: 5px;
    margin: 0 3px;
    max-width: 100px;
    min-width: 30px;
    width: 10%;
    font-weight: bold;
    border-radius: 5px;
}

@media (max-height: 450px) {
    .answers {
        height: 32vh;
    }
}

@media (max-height: 450px) and (max-width: 400px) {
    .answers__wrapper {
        max-width: 140px;
    }
    .answers__points {
        min-width: 25px;
    }
}


/***** message *****/

.message {
    text-align: center;
    font-style: italic;
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
}

@media (max-height: 500px) {
    .message {
        margin: 3px auto;
    }
}

/***** results-container *****/


.results-container--hidden {
    display: none;
}

@media (max-height: 550px) {
    .results-container {
        padding-top: 5px;
    }
}

/***** results *****/

.results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 20px 25px;
    grid-gap: 10px;
    animation-name: slideFromLeft;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
}

.results__heading {
    grid-column: 1 / 2;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    justify-self: flex-end;
    font-size: 1.25rem;
    font-family: var(--heading-font);
}

.results__score-box {
    grid-column: 2 / 3;
    background: var(--ter-color);
    color: var(--dark-text-color);
    padding: 10px;
    border-radius: 5px;
    align-self: center;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    max-width: 200px;
}

.results__score-box--total {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
}

@media (max-height: 550px) {
    .results {
        grid-gap: 5px;
        margin-bottom: 10px;
    }
    .results__heading { 
        font-size: 14px;
        padding: 0px;
    }
    .results__score-box {
        font-size: 14px;
        padding: 5px;
        max-width: 150px;
    }
}

/***** login-promo *****/

.login-promo {
    width: 90%;
    margin: 25px auto 0;
    padding: 3px 10px;
    max-width: 500px;
    background-color: var(--main-bg-color-t70);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.login-promo__para {
    font-style: italic;
    padding: 5px;
    text-align: center;
    margin: 5px auto;
}

.login-promo--hidden {
    display: none;
}

@media (max-height: 550px) {
    .login-promo {
        margin-top: 10px;
        font-size: 14px;
    }
    .login-promo__para {
        padding: 0;
    }
}
/***** scoreboard *****/

.scoreboard {
    width: 90%;
    margin: 25px auto 0;
    padding: 3px 10px;
    max-width: 500px;
    background-color: var(--main-bg-color-t70);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.scoreboard--hidden{
    display: none;
}

.scoreboard__caret {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 2rem;
}

.scoreboard__heading {
    text-align: center;
    font-family: var(--heading-font);
    margin: 5px auto;
}

.scoreboard__username {
    text-align: center;
    font-style: italic;
    margin: 5px auto;
    color: var(--ter-color);
}

.scoreboard__flex {
    display: flex;
    flex-flow: column wrap;
    margin: 0 20px 25px;
    font-weight: bold;
}

.scoreboard__flex--hidden {
    display: none;
}

.scoreboard__wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    max-width: 30%;
}

.scoreboard__num {
    padding: 5px;
}

.scoreboard__score {
    padding: 5px;
}

@media (max-height: 600px) {
    .scoreboard {
        margin-top: 10px;
        max-width: 400px;
    }
    .scoreboard__heading {
        font-size: 1rem;
        margin: 0;
    }
    .scoreboard__username {
        font-size: 1rem;
        margin: 0;
    }
    .scoreboard__flex {
        margin-bottom: 5px;
    }
}

@media (max-height: 500px) {
    .scoreboard__flex {
        height: 150px;
        align-content: space-around;
        margin: 0 auto;
    }
}

/***** audio-ctrl *****/
.audio-ctrl {
    position: fixed;
    bottom: 15px;
    left: calc(100% - 60px);
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.audio-ctrl__icon {
    color: white;
    transition-property: color;
    transition-duration: 300ms;
    animation-name: popout;
    animation-duration: 300ms;
}
.audio-ctrl__icon:hover {
    color: #ccc;
}

.audio-ctrl__icon--hidden {
    display:none;
}

@media (min-width: 1200px) {
    .audio-ctrl {
        left: calc(50% + 550px)
    }
}

/***** page-footer *****/

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 10vh;
    text-align: center;
}

.page-footer_para {
    width: 100%;
    margin: 0 auto;
    padding: 1vh 0;
}

.page-footer__icon {
    font-size: 1.5rem;
    padding: 0 1vh;
    transition-property: color;
    transition-duration: 300ms;
    color: var(--primary-text-color);
}

.page-footer__icon:hover {
    color: #ccc;
}

@media (max-height: 500px) {
    .page-footer {
        font-size: 12px;
    }

    .page-footer__icon {
        font-size: 14px;
    }
}

/***** pop-up *****/
.pop-up {
    position: absolute;
    top: 15px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
    max-width: 300px;
    min-width: 200px;
    width: 50%;
    background-color: var(--main-bg-color-t90);
    font-size: 1rem;
    color: var(--primary-text-color);
    font-family: var(--body-font);
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    z-index: 100;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}