/*  ==========
    UTILITIES
    ==========  */

/***** Border-box *****/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/***** Clearfix *****/

.cf:after {
    content: "";
    display: table;
    clear: both;
}


/*  ===============
    CSS VARIABLES
    ===============  */

/***** Colors *****/
/* Palette #21: https://www.canva.com/learn/website-color-schemes/ */

:root {
    --main-bg-color: #6B7A8F; /* Blueberry */
    --sec-color: #F7882F; /* Apricot */
    --sec-color-dark10: #DE6F16; 
    --ter-color: #F7C331; /* Citrus */
    --qrt-color: #DCC7AA; /* Apple Core */

    --primary-text-color: #FFFFFF; /* White */
    --mid-text-color: #686868; /* Grey */
    --dark-text-color: #333333; /* Dark Grey */
}

/***** Fonts *****/
:root {
    --display-font: 'Audiowide', cursive;
    /* Also consider: 'Barrio', 'Permanent Marker' */
    --heading-font: 'BioRhyme';
    --body-font: 'Exo 2';
}

/*  ============================
    BLOCKS__ELEMENTS--MODIFIERS
        - Classes are organized using the BEM model:
        http://getbem.com/
    ============================  */

/***** page-background *****/

.page-background {
    background-color: #6B7A8F; /* fallback */
    /* Created using https://trianglify.io/ */
    background-image: url('img/trianglify.svg');
    background-size: cover;
    margin: 0;
    height: 100vh;
}

/***** front-header *****/

.front-header {
    height: 90vh;
    width: 100%;
}

.front-header__title-container {
    position: relative;
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
}

.front-header__title {
    color: var(--primary-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 100;
    text-align: center;
    font-family: var(--display-font);
    font-size: 12vmin;
}

@media (min-width: 600px) and (min-height: 600px) {
    .front-header__title {
        font-size: 72px;
    }
} 

.front-header__speech-bubble {
    width: 100%;
    max-height: 50vh;
    padding: 10px 10px 0 10px;
}

.front-header__btn-container {
    width: 100vmin;
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
}

.front-header__tagline {
    color: var(--primary-text-color);
    text-align: center;
    font-family: var(--heading-font);
    font-size: 5vmin;
    margin: 20px;
}

/***** game-header *****/

.game-header {
    height: 15vh;
    padding: 2vh;
}

.game-header__title {
    color: var(--primary-text-color);
    margin: 0;
    text-align: center;
    font-family: var(--display-font);
    font-size: 5vmin;
}

.game-header__speech-bubble {
    height: 11vh;
    vertical-align: middle;
}

@media (max-width: 400px), (max-height: 400px) {
    .game-header__title {
        font-size: 20px;
    }
    
    .game-header__speech-bubble {
        height: 44px;
    }
}

/***** main *****/
.main {
    height: 75vh;
}

/***** game-info *****/
.game-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    color: var(--primary-text-color);
    font-family: var(--heading-font);
    padding: 0 20px;
}

.game-info__flex-item {
    flex: 1 1 calc(100% / 3);
    font-size: 2vmin;
}

@media (max-width: 600px), (max-height: 600px) {
    .game-info__flex-item {
        font-size: 12px;
    }
}

.game-info__heading {
    text-align: center;
    margin: 0.5em;
}

.game-info__round{

}

.game-info__guesses{

}

.game-info__tot-score{

}

/***** question *****/
.question {
    max-width: 400px;
    margin: 0 auto 20px;
    padding: 20px;
    border: solid white 2px;
    border-radius: 10px;
}

.question__text {
    color: var(--primary-text-color);
    font-family: var(--body-font);
    line-height: 3.5vmin;
    margin: 0;
    font-size: 3vmin;
}

@media (max-width: 600px), (max-height: 600px) {
    .question__text {
        font-size: 18px;
        line-height: 21px;
    }
}


/***** answers *****/
.answers {    
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    color: var(--primary-text-color);
    margin: 0 auto;
    max-width: 300px;
    border: solid white 2px;
    border-radius: 10px;
    padding: 20px;
    grid-gap: 10px;
}

.answers__text {
    grid-column: 1 / 2;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--body-font);
    padding: 5px;
    background: var(--qrt-color);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4);
}

.answers__text--guessed {
    text-align: left;
}

.answers__points {
    grid-column: 2 / 3;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--body-font);
    background: var(--ter-color);
    padding: 5px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4);

}

.answers__sum {
    grid-column: 2 / 3;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--body-font);
    background: var(--main-bg-color);
    padding: 5px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4);
}
/***** page-footer *****/

.page-footer {
    height: 10vh;
    color: var(--primary-text-color);
    text-align: center;
    padding-top: 3vh;
    font-family: var(--body-font);
}

/***** btn *****/

.btn {
    background: var(--sec-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--body-font);
    padding: .75rem 1rem;
}

.btn:hover,
.btn:focus {
    background-color: var(--sec-color-dark10);
}

.btn--front {
    display: block;
    margin: 0 20px 0 auto;
    font-size: 5vmin;
}

@media (min-width: 600px) and (min-height: 600px) {
    .btn--front {
        font-size: 30px;
    }
} 

.btn--quoted:before {
    content: '\201c';
    vertical-align: top;
}

.btn--quoted:after {
    content: '\201d';
    vertical-align: top;
}

.btn__inlnblck {
    display: inline-block;
}