/*  ==========
    UTILITIES
    ==========  */

/***** Border-box *****/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/***** Clearfix *****/

.cf:after {
    content: "";
    display: table;
    clear: both;
}

/*  ===============
    CSS VARIABLES
    ===============  */

/***** Colors *****/
/* Palette #21: https://www.canva.com/learn/website-color-schemes/ */

:root {
    --main-bg-color: #6B7A8F; /* Blueberry */
    --sec-color: #F7882F; /* Apricot */
    --sec-color-dark10: #DE6F16; 
    --ter-color: #F7C331; /* Citrus */
    --qrt-color: #DCC7AA; /* Apple Core */

    --primary-text-color: #FFFFFF; /* White */
    --mid-text-color: #686868; /* Grey */
    --dark-text-color: #333333; /* Dark Grey */
}

/***** Fonts *****/
:root {
    --display-font: 'Audiowide', cursive;
    /* Also consider: 'Barrio', 'Permanent Marker' */
    --heading-font: 'BioRhyme';
    --body-font: 'Exo 2';
}

/*  ===============
    BODY DEFAULTS
    ===============  */

html {
    font-size: 2.5vmin;
    font-family: var(--body-font);
    color: var(--primary-text-color);
}

@media (max-width: 640px), (max-height: 640px) {
    html {
        font-size: 16px;
    }
}

/*  ============================
    BLOCKS__ELEMENTS--MODIFIERS
        - Classes are organized using the BEM model:
        http://getbem.com/
    ============================  */

/***** page-background *****/

.page-background {
    background-color: #6B7A8F; /* fallback */
    /* Created using https://trianglify.io/ */
    background-image: url('img/trianglify.svg');
    background-size: cover;
    margin: 0;
    height: 100vh;
}

/***** front-header *****/

.front-header {
    height: 90vh;
    width: 100%;
}

.front-header--hidden {
    display: none;
}

.front-header__title-container {
    position: relative;
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
}

.front-header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 100;
    text-align: center;
    font-family: var(--display-font);
    font-size: 12vmin;
}

@media (min-width: 600px) and (min-height: 600px) {
    .front-header__title {
        font-size: 72px;
    }
} 

.front-header__speech-bubble {
    width: 100%;
    max-height: 50vh;
    padding: 10px 10px 0 10px;
}

.front-header__btn-container {
    width: 100vmin;
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
}

.front-header__tagline {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 5vmin;
    margin: 20px;
}

/***** game-header *****/

.game-header {
    height: 10vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-header--hidden {
    display: none;
}

.game-header__title {
    margin: 0;
    text-align: center;
    font-family: var(--display-font);
    font-size: 5vmin;
}

.game-header__speech-bubble {
    height: 8vmin;
    min-height: 30px;
    vertical-align: middle;
}

 @media (max-width: 400px), (max-height: 400px) {
    .game-header__title {
        font-size: 20px;
    }
    
} 

/***** main *****/

.main {
    height: 80vh;
}

.main--hidden {
    display: none;
}

/***** game-container *****/

.game-container--hidden {
    display: none;
}

/***** game-info *****/

.game-info {
    display: flex;
    flex-flow: row nowrap;
    max-width: 900px;
    margin: 0 auto;
    font-family: var(--heading-font);
    padding: 0 20px;
}

.game-info__flex-item {
    flex: 1 1 calc(50%);
}

.game-info__heading {
    text-align: center;
    margin: 0 0 5px;
    font-size: 2.5vmin;
}

@media (max-width: 640px), (max-height: 640px) {
    .game-info__heading {
        font-size: 16px;
    }
}

.game-info__round{

}

.game-info__tot-score{

}

/***** question *****/

.question {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    /* border: solid white 2px; */
    border-radius: 10px;
}

.question__text {
    margin: 0;
}

/***** answers *****/

.answers {    
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    width: 90%;
    max-width: 300px;
    /* border: solid white 2px; */
    /* border-radius: 10px; */
    padding: 10px 0;
    grid-gap: 10px;
    text-align: center;
}

.answers__text {
    grid-column: 1 / 2;
    background: var(--qrt-color);
    padding: 5px;
    border-radius: 5px;
    /* box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4); */
}

.answers__text--guessed {
    text-align: left;
    background: var(--sec-color);
    font-weight: bold;
}

.answers__points {
    grid-column: 2 / 3;
    background: var(--ter-color);
    padding: 5px;
    border-radius: 5px;
    /* box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4); */

}

.answers__sum {
    grid-column: 2 / 3;
    background: var(--main-bg-color);
    padding: 5px;
    border-radius: 5px;
    /* box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4); */
}

/***** guess-form *****/

.guess-form {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    /* border: solid white 2px; */
    /* border-radius: 10px; */
    padding: 0 10px;
}

.guess-form--hidden {
    display: none;
}

.guess-form__flex-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.guess-form__flex-btn {
    flex: 1 0 auto;
}

.guess-form__flex-inpt {
    flex: 5 1 auto;
    width: 100px;
}

/***** lbl *****/

.lbl {
    display: block;
    margin-bottom: 5px;
}

/***** inpt *****/

.inpt {
    border: none;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
    margin-left: 15px;
    padding-left: 10px;
    font-size: inherit;
    padding: 0.5em 0.75em;
    color: var(--dark-text-color);
}

/***** guesses *****/

.guesses {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    padding: 0 10px;
    text-align: center;
}

.guesses__header {
    margin: 0 0 5px;
    font-size: 1rem;
    font-family: var(--heading-font);
}

.guesses__flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 10px;
}

.guesses__icon {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin: 0 5px;
    line-height: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--display-font);
}

.guesses__icon--checked {
    background-color: var(--qrt-color);
}

.guesses__icon--x {
    background-color: var(--sec-color-dark10);
}

/***** results-container *****/

.results-container--hidden {
    display: none;
}

/***** results *****/

.results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 35px auto;
    /* border: solid white 2px; */
    /* border-radius: 10px; */
    grid-gap: 10px;
}

.results__heading {
    grid-column: 1 / 2;
    padding: 5px;
    border-radius: 5px;
    /* background: var(--qrt-color); */
    justify-self: flex-end;
    font-size: 1.25rem;
    font-family: var(--heading-font);
}


.results__score-box {
    grid-column: 2 / 3;
    background: var(--ter-color);
    padding: 10px;
    border-radius: 5px;
    align-self: center;
    justify-self: flex-start;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    max-width: 90%;
}

.results__score-box--total {
    background: var(--main-bg-color);
}

/***** page-footer *****/

.page-footer {
    height: 10vh;
    text-align: center;
    padding-top: 3vh;
}

/***** btn *****/

.btn {
    background: var(--sec-color);
    font-family: var(--body-font);
    color: var(--primary-text-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
    font-size: inherit;
    font-weight: bold;
    padding: 0.5em 0.75em;
    display: inline-block;
}

.btn:hover,
.btn:focus {
    background-color: var(--sec-color-dark10);
}

.btn--front {
    display: block;
    margin: 0 20px 0 auto;
    font-size: 5vmin;
}

@media (min-width: 600px) and (min-height: 600px) {
    .btn--front {
        font-size: 30px;
    }
} 

.btn--quoted:before {
    content: '\201c';
    vertical-align: top;
}

.btn--quoted:after {
    content: '\201d';
    vertical-align: top;
}

.btn--centered {
    display: block;
    margin: 0 auto;
}

.btn--hidden {
    display: none;
}

.btn__inlnblck {
    display: inline-block;
}